<footer>
        <div class="container">
            <a href="#" class="footer-logo">Thanks for checking this out</a>
            <div class="footer-social">
                <a href="https://www.linkedin.com/in/rishabh-soni-b63900337/" class="footer-icon" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-linkedin"></i>
                </a>
                <a href="https://github.com/rishabhSony" class="footer-icon" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-github"></i>
                </a>
            </div>
            <p class="footer-text">© 2025 Rishabh Soni. All rights reserved</p>
        </div>
    </footer>